@page
@model StyleShopping.Pages.Staff.InteriorEditModel
<div class="column col-lg-12 col-md-12 col-sm-12 mt-5">
    <h2>Edit Interior</h2>

    <!-- Register Form -->
    <div class="login-form register-form">
        <!--Login Form-->
        <form method="post">
            <input type="hidden" asp-for="interior.Id" required>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" asp-for="interior.Name" required>
                <span asp-validation-for="interior.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Image</label>
                <input type="text" asp-for="interior.Image" required>
                <span asp-validation-for="interior.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Price</label><br />
                <input class="form-control" type="number" asp-for="interior.Price" min="0" required>
                <span asp-validation-for="interior.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Detail</label>
                <input type="text" asp-for="interior.Detail" required>
                <span asp-validation-for="interior.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" asp-for="interior.CateId">
                    @foreach (var item in Model.list)
                    {
                        <option value="@item.Id" class="@(item.Id == Model.interior.CateId ? "selected":"")">
                            @item.Name
                        </option>
                    }

                </select>
            </div>

            <div class="form-group text-right">
                <button class="theme-btn btn-style-one" type="submit" name="submit-form">Update</button>
            </div>
            <div class="form-group text-right">
                <a class="theme-btn btn-style-one" name="submit-form" href="InteriorManage">Back To List</a>
            </div>
        </form>
    </div>
    <!--End Register Form -->
</div>
