@page
@model StyleShopping.Pages.AccessDeniedModel
<section class="page-title" style="background-image:url(images/background/10.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>403 Access Denied Page</h1>
                <span class="title">You not have permission to do/access this action</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="./Index">Home</a></li>
                <li>404</li>
            </ul>
        </div>
    </div>
</section>
